
*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */
.Header{
    display: flex;
    justify-content: space-between;
}

.HeaderRight{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-right: 20px;
}

.HeaderRight a{
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
}

.HeaderRight a:hover{
    text-decoration: underline;
}

.HeaderLeft{
    margin: 20px;
}

.HeaderLeft img{
     height: 25px;
}
/*Header End*/

/* HeaderB Styling */
.HeaderB{
    display: flex;
    justify-content: left;

    padding: 20px 0px 28px 45px; 
    border-bottom: 1px solid rgb(230, 229, 229);
}
.HeaderB p{
    color: rgb(202, 27, 27);
    font-size: 20px;
    font-family: sans-serif;
}
/* End of HeaderB Styling */

/* Body styling */
.container{
    margin: 40px;
}
.guide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.guide p{
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.8);
    /* padding: 30px 20px 0px 30px; */
}
#disapearGuide{
    margin-right: 13%;
    color: grey;
}

.formContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 27vh;
    /* padding: 40px; */
    
}
.formContainer p{
    font-family: sans-serif
}
 .what_input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.what_input p{
    margin: 0px 10px;
    font-size: 13px;
}

.disapear p{
    margin: 0 10px ;
    font-size: 12px;
    font-family: sans-serif;
    color: darkgray;


}

.disapear{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30vw;
    overflow: wrap;
}

@media screen and (max-width: 1045px) {
    .disapear,#disapearGuide {
        display: none !important;
    }
    
}
.searchBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    
}

.searchBar input{
    margin: 0px 10px ;
    padding: 6px;
    width: 44vw;
    border: 1px solid lightgrey;
    border-top-color: rgb(181, 181, 181);
}
.emptyspace{
    width: 22.5vw;
}
.button_holder{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button{
    display: flex;
    justify-content: right;
    margin-top: 20px;
    width:55vw;
}
.button button{
    padding: 8px 10px ;
    font-size: 12px;
    font-family: sans-serif;
    color: white;
    border: transparent;
    border-radius: 2px;
    background-color:  rgb(86, 86, 224);
    margin-right: 30px;
}
/* Body styling */
